
# Set eol LF
* text=auto eol=lf

# Explicitly declare binary files to prevent corruption
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
*.pdf binary
*.zip binary
*.gz binary
*.mp4 binary
*.webm binary

# Comment binaries
comment.exe      binary
comment_linux    binary
comment_darwin   binary
uncomment.exe    binary
uncomment_linux  binary
uncomment_darwin binary
