
# Unwanted files
.DS_Store

# Repositories
kitty/kitty_grab
fzf-tab-completion

# python
__pycache__/
python/__pycache__/

# node_modules
node_modules
node/node_modules

# clink files
clink/clink_*
clink/clink.log

# lf
lf/history
lf/files
lf/tags

# mov-cli
mov-cli/.env
mov-cli/osaka_cache

